<div class="media">
<% @shows.each do |show| %>
  <img class="d-flex mr-3" src="http://image.tmdb.org/t/p/w185/<%= show.poster %>" alt="">
  <div class="media-body">
    <h3 class="mt-0"><%= show.name %></h3>
    <%= show.overview %>
  </div>
  <br>
<% end %>
</div>