<div class="text-center">
	<h1>Let's watch something...</h1>
	<br>
</div>
<div id="container">
  <div>
  	<% @shows.each do |show| %>
        <div class="show-element"><img class="show-image" src="http://image.tmdb.org/t/p/w500/<%= show.poster %>"/>
        </div>
    <% end %>
  </div>
</div>
