<div class="container-fluid">
<% @shows.each do |show| %>
  <img class="img-fluid" src="http://image.tmdb.org/t/p/w185/<%= show.poster %>" alt="">
  <div class="media-body">
    <h3 class="mt-0"><%= link_to show.name, show_path(show) %></h3>
  </div>
  <br>
<% end %>
</div>