<div class="row">
  <div class="small-2 large-2 columns">
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Show: <%= @show.title %>
      <br>
      Synopsis: <%= @show.description %>
      <br>
      Network: <%= @show.network %>
    <% end %>
  </div>
</div>